<%- include ('./partials/head.ejs') %>

<%- include ('./partials/nav.ejs') %>

<div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
    <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
      <h1 class="display-4 fw-bold lh-1">Border hero with cropped image and shadows</h1>
      <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
        <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Primary</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
      </div>
    </div>
    <div class="col-lg-4 offset-lg-1 p-0 overflow-hidden shadow-lg">
        <img class="rounded-lg-3" src="https://getbootstrap.com/docs/5.2/examples/heroes/bootstrap-docs.png" alt="" width="720">
    </div>
  </div>


<body>
    <div  class="container mt-5 mx-auto ">
        <% if (blogs.length > 0) { %>
            <% blogs.forEach(blog => { %>
            <div class="border rounded shadow-sm m-4 p-3">
                <div class="toast-header">
                    <!-- <img src="..." class="rounded me-2" alt="..."> -->
                    <h6 style=" color: #b48261;" class="me-auto"><%= blog.title %></h6>
                  </div>
                  <p class="mb-1" style="font-style: italic; font-size: 18px; opacity: 70%;">"<%= blog.snippet %>"</p>
                  <div class="toast-body">
                    <%= blog.body %>
                  </div>
            </div>
    
            <%  }) %>
        <% } %>
    </div>
</body>






<!-- Animation -->
<!-- <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<div class="center-container">
    <div style="border: none; height: vh-50;" class="card text-center">
        <lord-icon
        src="https://cdn.lordicon.com/nocovwne.json"
        trigger="loop"
        delay="1000"
        colors="primary:#121331,secondary:#b48261"
        style="width:450px;height:150px">
    </lord-icon>
    <h5>Thank you!</h5>
    </div> -->

    <!DOCTYPE html>
<html lang="en">
    
<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<style>
  .center-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  #add-blog-button{
    width: 100%;
    margin-right: auto;
    background-color: #b48261;
    color: white;
    border: #b48261 solid 2px ;
    border-radius: 4px;
    padding: 8px;
    transition: .2s;
    font-weight: 500;
  }

  #add-blog-button:hover{
    transition: .2s;
    
    background-color: #9f7254;
  }
  
  #add-blog-button:active{
    color: white;
    border: #876249 solid 2px ;
    background-color: #6a4a34;
  }

  /* Style for mobile devices */

  @media only screen and (max-width: 766px) {
    .form-container {
      margin-top:80px !important;
      margin-bottom:50px !important;
    }
  }
  
</style>

<body>
    <!-- Import the navbar partial -->
    <%- include ('./partials/nav.ejs') %>
       
    <div class="center-container"></div>
</boy>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>

<%- include ('./partials/footer.ejs') %> 
