<%- include ('./partials/head.ejs') %>

<!-- <%- include ('./partials/nav.ejs') %>  -->

<div  class="container mt-5 mx-auto">
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <div class="toast-header">
            <!-- <img src="..." class="rounded me-2" alt="..."> -->
            <strong class="me-auto"><%= blog.title %></strong>
            <small><%= blog.createdAt %></small>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            <%= blog.body %>
          </div>
          <hr>
        <%  }) %>
    <% } %>
</div>



<div class="toast" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <img src="..." class="rounded me-2" alt="...">
      <strong class="me-auto">Bootstrap</strong>
      <small>11 mins ago</small>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Hello, world! This is a toast message.
    </div>
  </div>

<!-- Animation -->
<!-- <script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<div class="center-container">
    <div style="border: none; height: vh-50;" class="card text-center">
        <lord-icon
        src="https://cdn.lordicon.com/nocovwne.json"
        trigger="loop"
        delay="1000"
        colors="primary:#121331,secondary:#b48261"
        style="width:450px;height:150px">
    </lord-icon>
    <h5>Thank you!</h5>
    </div> -->

</div>


<%- include ('./partials/footer.ejs') %> 
