<%- include ('./partials/head.ejs') %>

<%- include ('./partials/nav.ejs') %> 

<div  class="container-sm mx-auto my-4">
    <h2 style=" color: #b48261" class="mx-auto">All Blogs</h2>
    <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <div class="container-xs px-0 mt-5 shadow-sm ">  
            <h4 style="color: white ; background-color:#a89385 ;" class="title p-3 rounded-top"><%= blog.title %></h4>
            <p class="snippet  p-2"><%= blog.snippet %> </p>
        </div>
        <%  }) %>
    <% } %>
</div>

<script src="https://cdn.lordicon.com/ritcuqlt.js"></script>
<div class="center-container">
    <div style="border: none; height: vh-50;" class="card text-center">
        <lord-icon
        src="https://cdn.lordicon.com/nocovwne.json"
        trigger="loop"
        delay="1000"
        colors="primary:#121331,secondary:#b48261"
        style="width:450px;height:150px">
    </lord-icon>
    <h5>Thank you!</h5>
    </div>

</div>


<%- include ('./partials/footer.ejs') %> 
