<!DOCTYPE html>
<html lang="en">
    
<!-- Access the head partial component -->
<%- include ('./partials/head.ejs') %>

<!-- Import the navbar partial -->
<%- include ('./partials/nav.ejs') %>
       
<body>
    <div class="navbar navbar-dark " style="background-color: #6a4a34;">
      <div class="container-fluid vh-100 ">
          <div class="text-white container-sm mx-auto text-center">
              <h1 id="blog-title">
                <%= blog.title %> 
              </h1>
              <p id="blog-title">
                <span>"<%= blog.snippet %>"</span>  
              </p>
              <p id="blog-title">
                <span><%= blog.body %></span>  
              </p>
          <a class="delete" data-doc="<%= blog._id %>"><button id="delete-btn" data-aos="fade-in" data-aos-once="true" style="transition-delay: 3s !important; "data-aos-duration="900"  class="btn btn-primary">Delete</button> </a>    
          </div>       
      </div>
      
    </div>
    
    <!-- Import the footer partial -->
    <%- include ('./partials/footer.ejs') %> 
</body>

<!-- When the delete button is clicked deleted the blog that was posted -->
<script>
  const trashcan = document.querySelector('a.delete')
  trashcan.addEventListener('click', (event)=>{
    const endPoint = `/blogs/${trashcan.dataset.doc}`

    fetch(endPoint, {
      method: 'DELETE'
    })
    .then((response)=>response.json())
    .then((data)=> window.location.href = data.redirect)
    .catch(err => cosnole.log(err))
  })
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</html>